@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-primary: #97ce4c;
    --clr-secundary: #f8f9fa;
    --clr-white: #fff;
    --clr-black: #333;
    --clr-c: #f0e14a;
    --clr-g: #737373;
    --ff: 'Roboto Mono', monospace;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    font-family: var(--ff);
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header {
    background-color: var(--clr-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 160px;
    width: 160px;
}


.logo img:hover {
    transform: scale(1.3);
    transition: .4s ease;
    cursor: pointer;
}

.main {
    padding: 2rem 1rem;
    background-color: #e1e1e1;
    color: var(--clr-black);
}

.personajes {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.personaje {
    border: 4px solid var(--clr-c);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    min-height: 400px;
    gap: 1rem;
    padding: 1rem 0;
    background-color: var(--clr-white);
    overflow-x: hidden;
}

.personaje:hover {
    transform: scale(1.04);
    transition: .4s ease;
}

.personaje-img {
    height: 200px;
    width: 200px;
    margin-inline: 1rem;
    filter: drop-shadow(0 6px 6px var(--clr-g));
}

.personaje-img img {
    border-radius: 50%;
}

.personaje-data {
    background-color: var(--clr-secundary);
    padding-block: .5rem;
    padding-inline: .3rem;
    align-items: center;
    justify-content: center;
    row-gap: .6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.name {
    font-weight: 800;
    text-transform: uppercase;
    color: #44281d;
}

.id {
    grid-column: 1 / 3;
    justify-self: center;
    font-family: 'Coiny', cursive;
    font-size:1rem;
    color: var(--clr-c);
}

.btn {
    cursor: pointer;
    border: none;
    background-color: var(--clr-white);
    border: 2px solid var(--clr-primary);
    padding: .8rem 1.4rem;
    text-transform: uppercase;
    color: var(--clr-black);
}

.btn:hover {
    background-color: var(--clr-primary);
    transition: .4s ease;
    color: var(--clr-white);
    box-shadow: 6px 6px 6px var(--clr-g);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.4);
    display: none;
}

.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    min-width: 400px;
    box-shadow: 0 0 10px #aaa;
    border-radius: 10px;
    background-color: var(--clr-secundary);
}

.modal-img {
    max-width: 250px;
}

.modal-text {
    display: flex;
    flex-direction: column;
    gap: .6rem;
    font-weight: 800;
    font-size: 1.2rem;
}

.modal-text  p span {
    font-weight: 400;
}

.cerrar-modal {
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
}

.btns-arrow {
    padding-block: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4rem;
}

.arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btns-arrow p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btns-arrow p span {
    font-weight: 800;
    font-size: 1.1rem;
}

#arrow-left,
#arrow-right{ 
    font-size: 1.2rem;
    background-color:#44281d;
    color: var(--clr-secundary);
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-right,
.page-left {
 font-weight: 800;
}



/* ------ MEDIAS QUERYS ------ */

@media screen and (min-width: 700px) {
    .header {
        justify-content: flex-start;
        padding-left: 2rem;
    }

    .personajes {
        display: grid;
        grid-template-columns: repeat(2,max-content);
        justify-content: center;
        align-items: center;
        row-gap: 1rem;
    }

    .personaje {
        justify-self: center;
    }
}

@media screen and (min-width: 1000px) {
    .personajes {
        display: grid;
        grid-template-columns: repeat(3,max-content);
        
    }
}